
div#square1 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: blue;
}

div#square2 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: orange;
}

div#square3 {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: green;
}

#square1 p {
  font-size: 50px;

}


#square2 p {
  font-size: 50px;

}


#square3 p {
  font-size: 50px;

}



